/* Ogólne wartości */
:root {
    --container_color: #b4bfa2;
    --background_path: url('foto/MainPage/MainPageBackground.png');
    --bar_size: 50px;
    --header_size: 52px;
    --text_size:15px;
    --colored_font: #1B4D3E;
    --Homebackground: white;
    --Project_margin: 0px 20px;
}

#InformationSection{
    min-height: calc(170vh);
    display: flex;
    align-items: start;
    justify-content: start;
}
section{
   overflow-y: scroll;
}
/*//////////////////////////////////////////*/

/* Deklarowanie przycisków */
/* Grupa przycisków odpowiedzialna za zmianę lokalizacji strony */
.menu_button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 15px;
    position: relative;
    z-index: 100001;
}

.menu_bar {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s;
}
.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #abecd6 0%, #fbed96 100%);
    z-index: 100;
    transition: left 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu.active {
    left: 0;
}
.menu_bar.hidden {
    opacity: 0;
}
.menu-content {
    position: absolute;
    transform: translateX(-100%);
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    margin: 20px 0;
}

.BarButton {
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border:none;
    transition: 0.5s;
    font-size: 50px;
}

.BarButton:hover {
    color: #70d774;
    transition: 0.2s;
}
/*//////////////////////////////////////////*/

/* Układanie elementów dla wersji mobilnej strony */

/* W tym kontenerze będą układane kolejne elementy */
#FullPageContainer {
    max-width: 1100px;
    width: 100%;
    min-height: 100vh;
    margin: auto;
}
/* Blok odpowiadający paskowi nawigacji */
#BarLayer {
    height: var(--bar_size);
}

.BarLayerNavigation {
    color: black;
}

.BarLayerNavigationList {
    font-size: 27px;
    justify-content: space-around;
    align-items: start;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    list-style: none;
}

/*//////////////////////////////////////////*/

/* Blok opisujący pierwszy element strony: Strona Główna */
#BackPanel{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: var(--Project_margin);
    background-color: white;
}
.CollumnText{
    max-width: 90%;
    height: 100%;
    padding:0px;
    display: flex;
    text-align: justify;
    flex-direction: column;
}

.LeftCollumn{
    padding: var(--Project_margin);
    width: 100%;
    height: 50vh;
}

.RightCollumn{
    padding: var(--Project_margin);
    width: 100%;
    height: 50vh;
}

.SpecialRow{
    width: 50%;
}


/*//////////////////////////////////////////*/

/*Blok opisajacy pierwszy element strony: Informacje*/
.AboutPage{
    background-color: transparent;
    min-height: 0vh;
    display: flex;
    flex-direction: column-reverse;
    margin:0px -20px;
}
.AboutPageLeftCollumn{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
}
.AboutPageFoto{
    width: 210px;
    height: 210px;
    background-image:url('foto/icons/photo.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
}
.AboutPageRightCollumn{
    display: flex;
    height: 70vh;
    flex-direction: column;
    overflow-y: scroll;
}
.AboutPageRightCollumnHeader{
    margin-top: 100px;
}
.AboutPageDescriptionText{
    font-size: var(--text_size);
    width: 100%;
    margin:auto;
    display: flex;
    line-height: 1.9;
    letter-spacing: 0.049em;
    padding-bottom: 20px;
}
/*//////////////////////////////////////////*/

/*Blok opisajacy element strony: Information*/
.InformationPage{
    background-color: transparent;
    min-height: 100vh;
    width: 100%;
}
#InformationContainer{
    width: 100% !important;
    margin:auto !important;
    justify-content:left;
    align-items: center;
    flex-direction: column;
}
.InformationPageLeftCollumn{
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: var(--Project_margin);
    height: 500px;
}
#InformationLeftCollumnContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.InformationLeftCollumnContainerText{
    font-size: large;
    margin: 20px 20%;
}
.InformationPageRightCollumn{
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.InformationRightCollumnSpecialText{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.InformationContainerBlock{
    width: 100%;
    min-height:100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;    
    padding-bottom: 10px;
}
.InformationContainerBlockElement{
    width: 100%;
    height: 100%;
    max-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid beige;
    padding: 10px 20px;
}
.InformationContainerBlockElementReverse{
    flex-direction: row-reverse;
    background-color: beige;
}
.InformationContainerBlockDescriptionText{
    width: 200px;
    height: 200px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.9;
    letter-spacing: 0.049em;
}
.InformationContainerDone {
    width: 200px;
    max-height: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;    
}
  
.InformationContainerDoneImg {
    width: 0px;
    height: 50px;
    background-image: url('foto/icons/check.png');
    background-size: cover;
    background-position: center;
  } 
.InformationContainerBarLayer{
    height:25%;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
} 
.InformationPageProgresBar {
    width: 70%;
    margin: 15px;
    height: 25px;
    background-color: white;
    border: 2px solid green;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Dodane ukrycie elementów, które wyjdą poza obszar */
}

.InformationPageProgresBarUpdate {
    width: 0%; /* Rozwinięcie od lewej do prawej */
    height: 100%;
    background: linear-gradient(90deg, rgba(36, 36, 0, 1) 0%, rgba(22, 121, 9, 1) 35%, rgba(117, 162, 26, 1) 100%);
    transition: width 2s ease-out 200ms;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Elementy zaczynają się od lewej krawędzi */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0; /* Ustawienie na początek elementu rodzica */
}
.InformationPageProgresBarText {
    position: relative;
    z-index: 2;
    color: white;
    background-color: transparent;
    font-size: 20px;
    font-family: 'Pacifico';
}
/*//////////////////////////////////////////*/

/*Blok opisajacy element strony: Projects*/
.ProjectsPage{
    background-color: transparent;
    min-height: 0vh;
    width: 100%;
}
.ProjectsPageLeftCollumn{
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: var(--Project_margin);
}
#ProjectsPageButtonContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProjectsPageRightCollumn{
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 50vh;
    overflow: hidden;
    background-color: beige;
    padding: 20px;
}
.ProjectsPageRightCollumnHeader{
    height: 25%;
    margin:0;
}
#ProjectsPageRightCollumnContent{
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
#ProjectsPageRightCollumnContent img{
    width: 25px;
    height: 25px;
    margin-right:20px;
}
/*//////////////////////////////////////////*/

/*Blok opisajacy element strony: Field*/
.Field{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #abecd6 0%, #fbed96 100%);
    z-index: 100;
    transition: left 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y:scroll;
}
.Field.active {
    left: 0;
}
#FieldPage{
    width: 100%;
    min-height: calc(100% - 40px);
    background-color: transparent;
}
.FieldPageRow {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px 25px;
    flex-direction: row;
    height: 50px;
    display: none;
    background-color: white;
    margin-bottom: 20px;
}
.FieldPageRowMobile{
    display: flex;
}
.FieldPageButtonReturn{
    width: 25px;
    height: 25px;
    background-color: transparent;
    cursor: pointer;
    z-index: 10;
    border: 4px solid black;
    transition: all 0.4s ease;
    border-radius: 4px;
}
.FieldPageButtonReturn:hover {
    border-left: none;
    border-bottom: none;
    transform: rotate(-135deg);
}
.FieldBlock{
    width: 100%;
    margin-bottom: 20px;
}
.FieldPageContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: calc(100% - 50px);
    margin: auto;
    padding: 20px 0px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.FieldPageContainerLeft,
.FieldPageContainerRight{
    display: none;
}
.ButtonLeft,
.ButtonRight {
    display: none;
}
.FieldPageContainerLeftCollumn{
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: start;
}
#FieldPageContainerDescription {
    transition: all 0.7s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    font-size: x-large;
}
.FieldPageContainerDescriptionHeader {
    width: 100%;
    display: flex;
    justify-content: start;
}
.FieldPageContainerRightCollumn{
    width: 100%;
    height: calc(100% - 200px);
}
.FieldPageContainerRightCollumnInfo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
}
#videoPlayer {
    background-color: black;
    border-radius: 20px;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 16/9;    
}
/*//////////////////////////////////////////*/
