/*Ogolne wartosci*/
* {
    margin: 0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
}
body {
    font-family: gotham;
    color: black; 
}
:root {
    --fontcolor: black;
    --container_color: #b4bfa2;
    --background_path: url('foto/MainPage/MainPageBackground.png');
    --container_radius: 10px;
    --container_size:72vh;
    --header_size: 52px;
    --text_size:25px;

    --text_style: calibry;
  }

#BackPanel{
    border-radius: 20px;
    margin-top:50px;
    width: 90%;
    height: var(--container_size);
    background-color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    list-style-type: none; /* Usunięcie znaków przed wyrazami */
    padding-left: 0; /* Opcjonalne: usuwa wcięcie listy */
}


/*//////////////////////////////////////////*/

/*Deklarowanie przyciskow*/
/*Grupa przyciskow odpowiedzialna za zmiane lokalizacji strony*/
.BarButtonDeskop{
    width: 100px;
    border-radius:10px;
    border: none;
    cursor: pointer;
    height:50px;
    color:black;
    background-color: transparent;
    border: 2px solid black;
    transition: 0.5s;
}
.BarButtonDeskop:hover{
    color: #70d774;
    border: 2px solid #70d774;
    transition: 0.2s;
}
.ScrollButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-image:url('foto/icons/uparrow.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    z-index: 1;
}
/*//////////////////////////////////////////*/



/*W tym kontenerze beda ukladane kolejne elementy*/
#FullPageContainer{
    min-width: 100%;
    max-width: 2000px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    min-height: 100vh;
    margin:auto;
}

/*Blok odpowiadajacy za pasek nawigacji*/
#BarLayer {
    width: 100%;
    display: flex;
    align-items: center;
    height: 72px;
    z-index: 2;
    color:black;
    background-color: white !important;
    position: fixed;
}
    nav {
        visibility: visible;
    }
    nav ul li {
        padding: 0px 20px;
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 100%;
    }
    nav ul li a {
        color: black;
        text-decoration: none;
    }
    nav ul li a:hover {
        text-decoration: none;
        color: lime;
        cursor: pointer;
    }
    #Bar{
        display: flex;
        flex-direction: row;
    }
/*Wylaczenie menu dla telefonow*/
.MENU{
    visibility: hidden;
}
/*//////////////////////////////////////////*/    









/*Blok opisajacy pierwszy element strony: Strona Główna*/
.MainPage{
    margin: 0px;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-color: white;
    background-image: var(--background_path);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}
    .MainPageContainer{
        justify-content: center;
    }
    .MainPageImage img{
        width: 100%;
        height: 100%;
    }
    #textOnMainPage{
        font-size: 47px;
        width: 20%;
        font-family: 'Times New Roman', Times, serif !important;
        color:black;
        padding: 10px;
        border: 1px solid #000;
        transition: width 1s ease-out 100ms;
        display: flex;
        justify-content: center;
    }
    #textOnMainPage:hover{
        width: 40%;       
    }
/*//////////////////////////////////////////*/









/*Blok opisajacy pierwszy element strony: Informacje*/
.InformationPage{
    background-color: black;
    background-image: var(--background_path);
}
    .InformationPageContainer{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    .InformationPageLeftCollumn{
        padding:0px;
        width: 30%;
        background-color: transparent;
        height: var(--container_size);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .InformationPageFoto{
        width: 210px;
        height: 210px;
        background-image:url('foto/icons/photo.png');
        background-size: cover;
        background-position: center;
        cursor: pointer;
        border-radius: 50%;
    }
    #InformationPageRightCollumn{
        padding:0px;
        width: 70%;
        background-color: var(--container_color);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: var(--container_size);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
    }
    #InformationPageRightCollumnText{
        max-width: 70%;
        display: flex;
        text-align: justify;
        padding:0px;
        flex-direction: column;
        height: 100%;
    }
    #InformationPageTextRow{
        justify-content: center;
        width: 100%;
        margin:auto;
        display: flex;
        align-items: center;
        padding: 0px; 
    }
    .InformationPageHeaderText{
        font-size: var(--header_size);
        padding: 0;
    }
    .InformationPageDescriptionText{
        font-size: var(--text_size);
        width: 100%;
        margin:auto;
        display: flex;
        line-height: 1.9;
        letter-spacing: 0.049em;
        padding-bottom: 20px;
    }
/*//////////////////////////////////////////*/


















/*Blok opisajacy element strony: Qualification*/
.QualificationPage{
    background-color: black;
    background-image: var(--background_path);
}
    .QualificationContainer{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: var(--container_color);
        display: flex;
        align-items: left;
        flex-direction: column;
        overflow: hidden;
        overflow-y: scroll;
    }
    .QualificationPageLeftCollumn{
        display: flex;
    }
    .QualificationContainerHeader{
        width: 100%;
        font-size: var(--header_size);
        padding: 2% 10px;
        display: flex;
        justify-content: left;
        align-items: center;
        height:25%;
    }
    .QualificationContainerBlock{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height:100%;
        justify-content: left;
        align-items: center; 
        
    }
    .QualificationContainerBlockElement{
        width: 100%;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        height: 100%;
        border: 1px solid beige;
        border-left: none;
        border-right: none;
    }
    .QualificationContainerBlockElementReverse{
        border:none;
    }
    .QualificationContainerBlockDescriptionText{
        min-width: calc(100% - 250px);
        height: 30%;
        padding: 0px;
        margin:auto;
        display: flex;
        justify-content: left;
        line-height: 1.9;
        letter-spacing: 0.049em;
        font-size: var(--text_size);
    }
    .QualificationContainerDone {
        width: 200px;
        height: 200px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
      }
      
      .QualificationContainerDoneImg {
        width: 0px;
        height: 50px;
        background-image: url('foto/icons/check.png');
        background-size: cover;
        background-position: center;
      } 
    .QualificationContainerBarLayer{
        height:25%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .QualificationPageProgresBar {
        width: 70%;
        margin: 0px;
        height: 25px;
        background-color: white;
        border: 2px solid black;
        border-right: none;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden; /* Dodane ukrycie elementów, które wyjdą poza obszar */
    }
    
    .QualificationPageProgresBarUpdate {
        width: 0%; /* Rozwinięcie od lewej do prawej */
        height: 100%;
        background: linear-gradient(90deg, rgba(36, 36, 0, 1) 0%, rgba(22, 121, 9, 1) 35%, rgba(117, 162, 26, 1) 100%);
        transition: width 2s ease-out 200ms;
        display: flex;
        align-items: center;
        justify-content: flex-start; /* Elementy zaczynają się od lewej krawędzi */
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0; /* Ustawienie na początek elementu rodzica */
    }
    
    .QualificationPageProgresBarText {
        position: relative;
        z-index: 2;
        color: white;
        background-color: transparent;
    }
/*//////////////////////////////////////////*/










/*Blok opisajacy element strony: Project*/
.ProjectPage{
    background-color: black;
    background-image: var(--background_path);
}   
    #rail{
        width: 10000px;
        height: var(--container_size);
        overflow: hidden;
        background-color: transparent;
        display: flex;
        flex-direction: row;
    }
    .ProjectPageContainer{
        min-height: 100vh;
        display: flex;
        justify-content:space-between;
        flex-direction: row;
        min-width: 100% !important;
        margin:auto !important;
        position: relative;
    }
    #ProjectPageLeftCollumn{
        padding:0px;
        min-width: 70%;
        background-color:var(--container_color);
        height: var(--container_size);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #ProjectPageTextRow{
        position: absolute;
        top:0px;
        width: 70%;
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 2% 10px;
    }
    .ProjectPageHeaderText{
        font-size: var(--header_size);
        padding: 0px;
    }
    .ProjectPageTextCollumn{
        justify-content:space-between;
        margin:0;
        padding: 0;
        display: flex;
        flex-direction: row;
        padding: 0px 20px;
    }
    .ProjectPageDescriptionText{
        font-size: var(--text_size);
        width: 100%;
        margin:auto;
        display: flex;
        line-height: 1.9;
        letter-spacing: 0.049em;
        padding: 14px 0px;
    }
    #ProjectPageRightCollumn{
        padding:0px 0px;
        width: 30%;
        height: var(--container_size);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #ProjectPageRightColumnTextRow{
        padding:0px;
        display: flex;  
        justify-content: center;
        align-items: center;
    }
    .ProjectPagePhoto {
        padding:20px 0px;
        width: 210px;
        height: 210px;
        display: flex;
    }
    
    .ProjectPageOpenfoto {
        position: relative;
        width: 100%;
        background-color: white;
        cursor: pointer;
        border: 2px solid black;
        overflow: hidden;
        border-radius: 100%;
    }
    
    .ProjectPageOpenfoto::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: black;
        transition: width 1.2s ease-in-out;
    }
    
    .ProjectPageOpenfoto:hover::before {
        width: 100%;
    }
    
    .ProjectPageOpenfotoText {
        width: 100%;
        height: 100%;
        font-size: var(--text_size);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
    }
    
    .ProjectPageOpenfotoText:hover {
        color: white;
    }
    
    .field {
        background-color: var(--container_color);
        height: 100%;
        width: 0%; /* Zmieniłem to na 0 */
        border-radius: var(--container_radius);
        overflow: hidden;
        position: relative; /* Zmieniłem na relative */
        right:0;
        top:0;
        box-sizing: border-box;
        z-index: 2;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        transition: all 1.7s ease;
    }
    #ProjectPageField{
        background-color: transparent;
        height:var(--container_size);
        overflow:hidden;
    }
    .ProjectPageFieldContainer {
        padding: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    
    #ProjectPageFieldContainerRow {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: row;
        min-height: 25px;
        font-size: 0px;
    }
    
    #ProjectPageFieldContainerName {
        font-size: 22px;
        margin: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    #ProjectPageFieldContainerName:hover {
        cursor: pointer;
    }
    
    .ProjectPageFieldContainerBox {
        width: 100%;
        max-height: calc(72vh - 90px);
        display: flex;
        flex-direction: row;
        background-color: black;
    }
    
    .ProjectPageFieldContainerBoxLeft,
    .ProjectPageFieldContainerBoxRight {
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:transparent;
        color: black;
        cursor: pointer;
        background-color: var(--container_color);
        transition: background-color 0.3s ease;
    }
    
    .ProjectPageFieldContainerBoxLeft:hover,
    .ProjectPageFieldContainerBoxRight:hover {
        background-color:#a1ab72;
    }
    #ButtonLeft{
        margin:0px 2px;
        width: 25px;
        height: 25px;
        border: 4px solid black;
        border-left: none;
        border-bottom: none;
        background-color: transparent;
        transform: rotate(-135deg);
    }

    .ButtonRight{
        transform: rotate(45deg)!important;
    }
    
    .ProjectPageFieldContainerBoxInfo {
        position: relative;
        width: 100%;
        max-height: 100%;
        overflow: hidden;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .ProjectPageFieldContainerBoxInfo video {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    
    #ProjectPageFieldContainerDescription {
        transition: all 0.7s ease;
        position: relative;
        top: -20px;
        right: 100%;
        z-index: 2;
        min-height: 100vh;
        background-color: var(--container_color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 20px;
    }
    
    #ProjectPageFieldButtonReturn {
        width: 25px;
        height: 25px;
        background-color: transparent;
        cursor: pointer;
        z-index: 10;
        border: 4px solid black;
        transition: all 0.4s ease;
        border-radius: 4px;
        position: absolute;
        left: 10px;
    }
    
    #ProjectPageFieldButtonReturn:hover {
        border-left: none;
        border-bottom: none;
        transform: rotate(-135deg);
    }
    
/*//////////////////////////////////////////*/










.activefield {
    width: 100%;
    min-width: 100%;
    transition: all 2.7s ease;
}
#Inf img{
    width: 100px;
    height: 300px;
}
.photo {
    position: absolute;
    background-repeat:no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
}